<mat-toolbar>
  <button mat-raised-button (click)="returnToOverview()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span class="title">Runde {{game.runde}}</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="container">
  <div class="flexbox-panel">
    <div class="flexbox-item"></div>
    <div class="flexbox-item">
      <img [src]="imgUrl" class="game-overview-card-image"><br>
      <span class="sub-title">Spieler 1</span>
    </div>
    <div class="flexbox-item"><span class="sub-title">0 - 1</span></div>
    <div class="flexbox-item">
      <img [src]="imgUrl" class="game-overview-card-image"><br>
      <span class="sub-title">Spieler 2</span>
    </div>
    <div class="flexbox-item"></div>
  </div>

  <div class="question" *ngIf="currentQuestition == 1">
    <div class="question-container">
      <mat-card class="example-card">
        <mat-card-content>
          <p>{{game.questionList[0].name}}</p>
        </mat-card-content>
        <mat-card-footer>
          <mat-progress-bar mode="determinate" [value]="progressbarValue"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="answer-container">
      <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'10px'">
        <mat-grid-tile>
          <button (click)="nextAnswer(game.questionList[0].answers[2], game.questionList[1].vocabId)" appChangeBackground [isCorrect]="true" mat-raised-button>{{game.questionList[0].answers[2]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(game.questionList[0].answers[11], game.questionList[1].vocabId)" appChangeBackground [isCorrect]="false" mat-raised-button>{{game.questionList[0].answers[11]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(game.questionList[0].answers[25], game.questionList[1].vocabId)" appChangeBackground [isCorrect]="false" mat-raised-button>{{game.questionList[0].answers[25]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(game.questionList[0].answers[39], game.questionList[1].vocabId)" appChangeBackground [isCorrect]="false" mat-raised-button>{{game.questionList[0].answers[25]}}</button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <div class="question" *ngIf="currentQuestition == 2">
    <div class="question-container">
      <mat-card class="example-card">
        <mat-card-content>
          <p>{{game.questionList[1].name}}</p>
        </mat-card-content>

        <mat-card-footer>
          <mat-progress-bar mode="determinate" [value]="progressbarValue"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="answer-container">
      <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'10px'">
        <mat-grid-tile>
          <button (click)="nextAnswer(game.questionList[1].answers[0], game.questionList[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(game.questionList[1].answers[12], game.questionList[1].vocabId)" mat-raised-button>{{game.questionList[1].answers[12]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(game.questionList[1].answers[1], game.questionList[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(game.questionList[1].answers[20], game.questionList[1].vocabId)" mat-raised-button>{{game.questionList[1].answers[20]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(game.questionList[1].answers[2], game.questionList[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(game.questionList[1].answers[37], game.questionList[1].vocabId)" mat-raised-button>{{game.questionList[1].answers[37]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(game.questionList[1].answers[3], game.questionList[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(game.questionList[1].answers[46], game.questionList[1].vocabId)" mat-raised-button>{{game.questionList[1].answers[46]}}</button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <div class="question" *ngIf="currentQuestition == 3">
    <div class="question-container">
      <mat-card class="example-card">
        <mat-card-content>
          <p>{{game.questionList[2].name}}</p>
        </mat-card-content>

        <mat-card-footer>
          <mat-progress-bar mode="determinate" [value]="progressbarValue"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="answer-container">
      <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'10px'">
        <mat-grid-tile>
          <button (click)="nextAnswer(game.questionList[1].answers[0], game.questionList[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(game.questionList[2].answers[4], game.questionList[1].vocabId)" mat-raised-button>{{game.questionList[2].answers[4]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(game.questionList[1].answers[0], game.questionList[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(game.questionList[2].answers[30], game.questionList[1].vocabId)" mat-raised-button>{{game.questionList[2].answers[30]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(game.questionList[1].answers[0], game.questionList[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(game.questionList[2].answers[36], game.questionList[1].vocabId)" mat-raised-button>{{game.questionList[2].answers[36]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(game.questionList[1].answers[0], game.questionList[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(game.questionList[2].answers[45], game.questionList[1].vocabId)" mat-raised-button>{{game.questionList[2].answers[45]}}</button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>


</div>
