<mat-toolbar>
  <button mat-raised-button (click)="returnToOverview()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span class="title">Runde 1</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="container">
  <div class="flexbox-panel">
    <div class="flexbox-item"></div>
    <div class="flexbox-item">
      <img [src]="imgUrl" class="game-overview-card-image"><br>
      <span class="sub-title">Spieler 1</span>
    </div>
    <div class="flexbox-item"><span class="sub-title">0 - 1</span></div>
    <div class="flexbox-item">
      <img [src]="imgUrl" class="game-overview-card-image"><br>
      <span class="sub-title">Spieler 2</span>
    </div>
    <div class="flexbox-item"></div>
  </div>

  <div class="question" *ngIf="currentQuestition == 1">
    <div class="question-container">
      <mat-card class="example-card">
        <mat-card-content>
         <!-- <p>{{round.questions[0].name}}</p>-->
        </mat-card-content>
        <mat-card-footer>
          <mat-progress-bar mode="determinate" [value]="progressbarValue"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="answer-container">
      <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'10px'">
        <mat-grid-tile>
          <button appChangeBackground [isCorrect]="true" mat-raised-button></button>
        </mat-grid-tile>
        <!--
        <mat-grid-tile>
          <button (click)="nextAnswer(round.questions[0].answers.entries()[0], round.questions[1].vocabId)" appChangeBackground [isCorrect]="false" mat-raised-button>{{round.questions[0].answers.entries()[0]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(round.questions[0].answers.entries()[0], round.questions[1].vocabId)" appChangeBackground [isCorrect]="false" mat-raised-button>{{round.questions[0].answers.entries()[0]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(round.questions[0].answers.entries()[0], round.questions[1].vocabId)" appChangeBackground [isCorrect]="false" mat-raised-button>{{round.questions[0].answers.entries()[0]}}</button>
        </mat-grid-tile>
        -->
      </mat-grid-list>
    </div>
  </div>

  <!--
  <div class="question" *ngIf="currentQuestition == 2">
    <div class="question-container">
      <mat-card class="example-card">
        <mat-card-content>
          <p>{{round.questions[1].name}}</p>
        </mat-card-content>

        <mat-card-footer>
          <mat-progress-bar mode="determinate" [value]="progressbarValue"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="answer-container">
      <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'10px'">
        <mat-grid-tile>
          <button (click)="nextAnswer(round.questions[1].answers[0], round.questions[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(round.questions[1].answers[12], round.questions[1].vocabId)" mat-raised-button>{{round.questions[1].answers[12]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(round.questions[1].answers[1], round.questions[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(round.questions[1].answers[20], round.questions[1].vocabId)" mat-raised-button>{{round.questions[1].answers[20]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(round.questions[1].answers[2], round.questions[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(round.questions[1].answers[37], round.questions[1].vocabId)" mat-raised-button>{{round.questions[1].answers[37]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(round.questions[1].answers[3], round.questions[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(round.questions[1].answers[46], round.questions[1].vocabId)" mat-raised-button>{{round.questions[1].answers[46]}}</button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>

  <div class="question" *ngIf="currentQuestition == 3">
    <div class="question-container">
      <mat-card class="example-card">
        <mat-card-content>
          <p>{{round.questions[2].name}}</p>
        </mat-card-content>

        <mat-card-footer>
          <mat-progress-bar mode="determinate" [value]="progressbarValue"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="answer-container">
      <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'10px'">
        <mat-grid-tile>
          <button (click)="nextAnswer(round.questions[1].answers[0], round.questions[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(round.questions[2].answers[4], round.questions[1].vocabId)" mat-raised-button>{{round.questions[2].answers[4]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(round.questions[1].answers[0], round.questions[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(round.questions[2].answers[30], round.questions[1].vocabId)" mat-raised-button>{{round.questions[2].answers[30]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(round.questions[1].answers[0], round.questions[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(round.questions[2].answers[36], round.questions[1].vocabId)" mat-raised-button>{{round.questions[2].answers[36]}}</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button (click)="nextAnswer(round.questions[1].answers[0], round.questions[1].vocabId)" appChangeBackground [isCorrect]="checkAnswer(round.questions[2].answers[45], round.questions[1].vocabId)" mat-raised-button>{{round.questions[2].answers[45]}}</button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
-->

</div>
